body{
    background: rebeccapurple;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 100vh;
    overflow: hidden;
    font-family: Arial;
}
